/*initialisation du site */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/*corps du page image */

body {
    background-image: url("img/background.png");
}


/*navigation du site */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C55394;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #EB43A3;
}

.active {
    background-color: #C55394;
    font-family: 'Courgette', cursive;
}


/*grand titre */

.grand {
    color: #C55394;
    width: max-content;
    font-family: 'Courgette', cursive;
    text-align: center;
    background-image: url("img/rainbow.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 80px;
    margin: auto;
    padding-top: 3%;
}


/*encapsulation du contenue */

.border {
    border-width: medium;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 0 7px 3px rgba(2, 195, 230, 0.5);
    border-radius: 10px;
}


/*les petit titres */

.ptitre {
    color: #EB43A3;
    font-family: 'Courgette', cursive;
}


/*importation d'icone etoiles */

.etoile {
    color: #EB43A3;
    font-size: 20px;
    margin: 5px;
}


/*titres h2 */

h2 {
    color: #EB43A3;
    font-family: 'Courgette', cursive;
}


/*style images */

div.gallery {
    border: 3px solid rgb(204, 204, 204);
    display: grid;
    border-radius: 7px;
}

div.gallery:hover {
    border: 1px solid rgb(82, 76, 76);
    box-shadow: 0 0 7px 3px rgba(2, 195, 230, 0.5);
    transform: scale(1.1);
}

div.gallery img {
    width: 100%;
    height: auto;
    position: relative;
}

div.desc {
    text-align: center;
    background-size: cover;
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    background-position: center;
    background-color: black;
    top: 0;
    height: auto;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 1px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*division du colonne en deux */

.local {
    columns: 100px 2;
    border-radius: 20px;
}


/*les trois titres*/

.titre {
    color: #EB43A3;
    display: flex;
    padding: 20px;
}


/*encapsulation du contenu interieur du border */

.row {
    margin: 10px;
    padding: 10px;
}


/*localisation */

.place {
    margin: 10px;
    padding: 10px;
}


/*pied du page */

footer {
    background-color: #C55394;
    text-align: right;
    color: white;
}